
h1 {
	font-family: $primary-font;
	font-size: 30px;
	color: $headline-color;
}

h2 {
	.entry-title{
		text-decoration: none;
		color: $headline-color;
		font-family: $primary-font;
		font-size: 80px;
		font-weight: 400;
		text-transform: uppercase;
	}
	a {
		color: $headline-color;
	}
	&:hover {
		color: $headline-color;
	}
}

p {
	font-family: $secondary-font;
	color: $text-color;
	font-weight: 400;
	font-size: 20px;
}

a {
	transition: ease .5s;
}

time {
	display: none;
}

.page-header {
	display: none;
}

