// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary:  #0db2ad;
$text-color:     #818284;
$text-alt:       #008692;
$paragraph-alt:  #bbd36a;
$headline-color: #46484d;

//  Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Cabin', sans-serif;
$accent-font: cursive;