.main-header{
  width:100%;
  z-index:100;
  position:absolute;
  padding: 10px 15px;
  background:rgba(0,0,0,0.5);
}
.page-wrap {
  position: relative;
  right: 0;
  min-height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background:#fff;
  &.active{
    right: 16em;
    overflow: visible;
    transition: all 0.3s ease-out;
  }
}
a{
   text-decoration: none;
   font-family: arial;
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
}

.logo {
    max-width: 225px;
    float: left;
    img {
        max-width: 100%;
        max-height:60px;
    }
}
.menu-link {
    float: right;
    display: block;
    text-decoration: none;
    padding: 12px;
    position:relative;
    width: 57px;
    height: 57px;
    &:hover{
      cursor: pointer;
    }
    span{
        color: #00a9a6;
        font-size:3em;
        //font-weight:bold;
        font-family:Arial, Helvetica, sans-serif;
        &.bracket-left{
            position: absolute;
            left: -3px;
            top: -2px;
            transform: rotate(-3deg);
        }
        &.bracket-right{
            position: absolute;
            right: -2px;
            top: -2px;
            transform: rotate(-3deg);
        }
    }
}

nav[role=navigation] {
  //background: #999;
  clear: both;
  //overflow: hidden;
  width: 16em;
  //height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -16em;
  ul {
    margin: 0;
    padding: 0;
    li{
      a{
        display: block;
        padding: 0.8em;
        color: #fff;
        border-top: 1px solid darken(#00a9a6,5%);
      }
      &:hover{
        ul{
          max-height: 25em;
          transition: all 0.8s ease-out;
        }
      }
      ul{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease-out;
        li{
          a{
            background: #00a9a6;
            &:hover{
              background: darken(#00a9a6,5%);
            }
          }
        }
      }
    }
  }
}

$bar-width: 32px;
$bar-height: 4px;
$bar-spacing: 10px;

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  transition: all 0ms 300ms;
  background: #fff;
  top: 5px;
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}